@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto&display=swap');

:root{
    --imageshadow: #000;
}

h1, h2, header, div, p
{
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
}

body {
    font-family: 'Pixelify Sans', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    background-image: url('main_bg.png');
    box-shadow: inset 0 0 5vmin -1vmin #000;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Keeps the background in place */
    background-repeat: no-repeat;
    color: white; /* Makes text readable */
}

header{
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 999;
    background: linear-gradient(#000a, #fff0);
    /*transition: cubic-bezier(0.19, 1, 0.22, 1);*/
}

.page{
    background: #2224;
    transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.intro_image{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: inset 0 0 100px 100px var(--imageshadow);
    z-index: 1000;
 }

@keyframes moveUpDown {
    0%, 100% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, -20px);
    }
}

.arrow_image {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    animation: moveUpDown 2s infinite; /* Adjust the duration as needed */
}

.title_half1, .title_half2 {
    /* opacity: 0; */
    transform: translateX(-100%);
    transform: translateX(100%);
    z-index: 901;
    font-size: 5rem;
}

.slide-in-left {
    animation: slideInFromLeft 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

.slide-in-right {
    animation: slideInFromRight 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

.slide-in-left :nth-child(1){animation: IdleTitleLeft 3s step-end 0s infinite none;}
.slide-in-left :nth-child(2){animation: IdleTitleLeft 3s step-end 0.25s infinite none;}
.slide-in-left :nth-child(3){animation: IdleTitleLeft 3s step-end 0.75s infinite none;}
.slide-in-left :nth-child(4){animation: IdleTitleLeft 3s step-end 1s infinite none;}
.slide-in-left :nth-child(5){animation: IdleTitleLeft 3s step-end 1.25s infinite none;}

.slide-in-right :nth-child(1){animation: IdleTitleRight 3s step-end 0s infinite none;}
.slide-in-right :nth-child(2){animation: IdleTitleRight 3s step-end 0.5s infinite none;}
.slide-in-right :nth-child(3){animation: IdleTitleRight 3s step-end 0.75s infinite none;}
.slide-in-right :nth-child(4){animation: IdleTitleRight 3s step-end 1s infinite none;}
.slide-in-right :nth-child(5){animation: IdleTitleRight 3s step-end 1.5s infinite none;}
.slide-in-right :nth-child(6){animation: IdleTitleRight 3s step-end 1.75s infinite none;}
.slide-in-right :nth-child(7){animation: IdleTitleRight 3s step-end 2.25s infinite none;}


@keyframes slideInFromLeft {
    0% {
        transform: translateX(-300%);
        opacity: 0;
    }
    100% {
        transform: translateX(1%);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(250%);
        opacity: 0;
    }
    100% {
        transform: translateX(-1%);
        opacity: 1;
    }
}

@keyframes IdleTitleRight {
    0%, 100%         {transform: translate(-1%, 0px);}
    11.503%, 88.497% {transform: translate(-1%, -1px);}
    16.667%, 83.333% {transform: translate(-1%, -2px);}
    20.978%, 79.022% {transform: translate(-1%, -3px);}
    25%, 75%         {transform: translate(-1%, -4px);}
    29.022%, 70.978% {transform: translate(-1%, -5px);}
    33.333%, 66.666% {transform: translate(-1%, -6px);}
    38.497%, 61.503% {transform: translate(-1%, -7px);}
    41.667%          {transform: translate(-1%, -8px);}
}

@keyframes IdleTitleLeft {
    0%, 100%         {transform: translate(1%, 0px);}
    11.503%, 88.497% {transform: translate(1%, 1px);}
    16.667%, 83.333% {transform: translate(1%, 2px);}
    20.978%, 79.022% {transform: translate(1%, 3px);}
    25%, 75%         {transform: translate(1%, 4px);}
    29.022%, 70.978% {transform: translate(1%, 5px);}
    33.333%, 66.666% {transform: translate(1%, 6px);}
    38.497%, 61.503% {transform: translate(1%, 7px);}
    41.667%          {transform: translate(1%, 8px);}
}

.cursor-pointer {
   cursor: pointer;
}

.intro {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    user-select: none;
}

.player_image{
    width: 25%;
    height: auto;
    border: 2px solid white;
    /* background-color: rgb(49, 51, 56); */
    background-color: rgba(49, 51, 56, 0.6);
    border-radius: 2%;
}

.intro_text{
   position: absolute;
   z-index: 1001;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
   font-size: 2rem;
   font-weight: 700;
   text-align: center;
   animation: blink 1.5s infinite;
}

@keyframes blink {
   0% {opacity: 1;}
   50% {opacity: 0;}
   100% {opacity: 1;}
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.arrow_fade-out {
    animation: fadeOut 1s forwards, moveUpDown 2s infinite; /* Combine both animations */
}

.fade-out {
    animation: fadeOut 1s forwards;
}

/* Enemies */
.enemies {
    width: 50%;
    margin: 0 auto;
}
.enemies-container {
    border: 2px solid white;
    background-color: rgba(49, 51, 56, 0.6);
    line-height: 1.7;
    word-spacing: 4px;
}

.enemy_image1 {
    width: 60px; /* Adjust as needed */
    height: auto; /* Adjust as needed */
}

.enemy_image2 {
    width: 125px; /* Adjust as needed */
    height: auto; /* Adjust as needed */
}

.shadow-white{
    /* shadow */
    text-shadow: 0px 0px 5px #ffffff;
}

.story-container {
    border: 2px solid white;
    background-color: rgba(49, 51, 56, 0.6);
    line-height: 1.7;
    word-spacing: 4px;
}

.player-container {
    line-height: 1.7;
    word-spacing: 4px;
}

.enemies-intro-text{
    font-size: 1rem;
}